# SPDX-License-Identifier: GPL-2.0-or-later

# Copyright (c) 2023 - 2026 MIPS Holding, Inc.
# Artemiy Volkov <artemiy@synopsys.com>

# Adapted from tcl/board/snps_hsdk.cfg.

#
# MIPS ARC HSDK Software Development Platform (HS47D cores)
#

source [find interface/ftdi/snps_sdp.cfg]
adapter_khz 10000

# ARCs supports only JTAG.
transport select jtag

# Configure SoC
source [find target/snps_hsdk_4xd.cfg]

# Initialize
init
reset halt
